{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {#{% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}#}

    <div class="container w-50">
    <h1>Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.firstname, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Prénom'
                }
            }) }}

            {{ form_row(registrationForm.lastname, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Nom'
                }
            }) }}

            {{ form_row(registrationForm.birthday, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Date de naissance'
                }
            }) }}

            {{ form_row(registrationForm.email, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Email'
                }
            }) }}

            {{ form_row(registrationForm.plainPassword) }}

            {{ form_row(registrationForm.address, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Adresse'
                }
            }) }}

            {{ form_row(registrationForm.city, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Ville'
                }
            }) }}

            {{ form_row(registrationForm.country, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Pays'
                }
            }) }}

            {{ form_row(registrationForm.phone, {
                'attr': {
                    'class': 'form-control',
                    'placeholder': 'Téléphone'
                }
            }) }}

        <div class="d-flex justify-content-center mt-2">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>

        {{ form_end(registrationForm) }}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}