{# templates/product/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des produits</h1>
        <div class="product-list">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{{ asset('uploads/images/' ~ product.image|default('default-product-image.png')) }}"
                                 alt="{{ product.name }}"
                                 class="card-img-top product-image"
                            >
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                {% set maxLength = 60 %}
                                {% set description = product.description|length > maxLength ? product.description|slice(0, maxLength) ~ '...' : product.description %}
                                <p class="card-text">{{ description }}</p>
                                <p><strong>Prix : {{ product.price }}€</strong></p>
                                <a href="{{ path('order_index', { id: product.id }) }}" class="btn btn-primary">Ajouter
                                    au
                                    panier</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}